@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

.slider {
  appearance: none;
  height: 8px;
  border-radius: 9999px;
  background: rgb(51 65 85); /* slate-700 */
  position: relative;
  z-index: 1;
}

/* THUMB */
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 22px;
  width: 22px;
  border-radius: 9999px;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.slider::-moz-range-thumb {
  height: 22px;
  width: 22px;
  border-radius: 9999px;
  background: white;
  cursor: pointer;
  border: none;
}
